<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DriveWorks.Applications" version="16.0.0" targetFramework="net471" />
  <package id="DriveWorks.Engine" version="16.0.0" targetFramework="net471" />
  <package id="Microsoft.CrmSdk.CoreAssemblies" version="9.0.0.5" targetFramework="net461" />
  <package id="Microsoft.CrmSdk.Deployment" version="9.0.0.5" targetFramework="net461" />
  <package id="Microsoft.CrmSdk.Workflow" version="9.0.0.5" targetFramework="net461" />
  <package id="Microsoft.CrmSdk.XrmTooling.CoreAssembly" version="9.0.0.5" targetFramework="net461" />
  <package id="Microsoft.IdentityModel" version="6.1.7600.16394" targetFramework="net461" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="2.22.302111727" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net471" />
  <package id="Titan.Rules" version="16.0.0" targetFramework="net471" />
</packages>